:where(body) {
  padding: 0 32px;
}

:where(h1) {
  font-size: 24px;
  font-weight: bold;
}

:where(blockquote) {
  font-style: italic;
  margin: 24px 0;
}

:where(ul) {
  padding: 0;
  list-style-position: inside;
}
